{% extends 'ui/base.html' %}

{% block extra_styles %}
    <style>
    .in-stock {
        background-color: chartreuse;
    }
    .out-of-stock {
        background-color: coral;
    }
    </style>
{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>View details</th>
            <th> Remove </th>
            <th> Unit price </th>
            <th> Price </th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>{{ product.title}}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'products:details' product.id %}">Details</a></td>
                    <td><a href="{% url "cart:cart_remove" product.id%}">Remove</a></td>
                    <td class="num">{{ item.price }} grn </td>
                    <td class="num">{{ item.total_price }} grn </td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total quantity">
            <td>Total quantity</td>
            <td class="num">{{cart.get_total_quantity}}</td>
        </tr>
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} grn </td>
        </tr>
        </tbody>
    </table>
    <p class="text-light">
        <a href="{% url "products:list" %}" class="button light">Continue shopping</a>
    </p>
{% endblock %}