{% extends "app/base.html" %}
{% load static %}

{% block content %}
    <div>
    {% for product in all_product %}
        <h1>list</h1>
        <div>
            <p>id_product : {{product.id_product }}</p>
            <p>title : {{product.title }}</p>
            <p>price : {{product.price }}</p>
            <p>old_price : {{product.old_price}}</p>
            <p>brand : {{product.brand }}</p>
            <p>category  : {{product.category  }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}